/* Fonts */
@font-face {
  font-family: "SF-Pro-Display-Regular";
  src: url("fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("fonts/SFProDisplay-Regular.woff") format("woff");
}

/* CSS variables */
:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF-Pro-Display-Regular", sans-serif;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/spical-offer-Asset.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1e1e1e;
  z-index: -1;
}

.container {
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
}

p {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
}

form {
  width: 100%;
  margin-top: 3rem;
}

.input-items {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.input-items input {
  border: 2px solid #3d3d3d;
  background-color: var(--primary-color);
  border-radius: 1rem;
  padding-left: 16px;
  height: 56px;
  width: 50%;
  color: #ffffff;
}

.input-success {
  border: 2px solid #129a14;
  background-color: var(--primary-color);
  border-radius: 1rem;
  padding-left: 16px;
  height: 56px;
  width: calc(100% - 20px);
  margin-top: 12px;
  color: var(--secondary-color);
}

::placeholder {
  color: var(--secondary-color);
}

.input-items input:hover,
.input-success:hover {
  border-color: var(--secondary-color);
}

.disclaimer {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-top: 0.5rem;
}

.cta-button {
  font-family: "SF-Pro-Display-Regular", sans-serif;
  font-style: normal;
  padding: 16px;
  background: var(--secondary-color);
  border-radius: 16px;
  width: 343px;
  height: 56px;
  margin-top: 3rem;
}

.cta-button:hover {
  background-color: var(--primary-color);
  border: var(--primary-color) solid;
  color: var(--secondary-color);
  cursor: pointer;
}

/* At 400 and below px apply below styles */
@media (max-width: 400px) {
  .container {
    margin-top: 2rem;
  }

  .cta-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
}
